################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Test/.vs/Test/FileContentIndex/37549f3a-ae1b-402c-a7d4-18358e1931a4.vsidx
